*{
    box-sizing:border-box;
    text-decoration:none;
    font-family:arial;
    margin:0px;
    padding:0px;
}

body {
    margin-left:5%;
    margin-top:2%;
}

.cabecalho {
    display:flex;
    justify-content:space-between;
    gap:100px;
    width:1095px;
    height:45px;
}

.top-start{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:38px;
    width:659.49px;
    height:45px;
}

#logo {
    width:92px;
    height:30px;
}

.search {
    display:flex;
    align-items:center;
    width:529.49px;
    height:45px;
    border:solid 1px #fff;
    border-radius:24px;
    box-shadow:0px 2px 5px #e0dee4;
}

#txt-user {
    width: 381px;
    height:39px;
    outline:none;
    box-shadow:none;
    border-color:transparent;
    margin-left:26px;
}

.box-icon {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    width:112.49px;
    height:29px;
}

.box-close {
    display:flex;
    align-items:center;
    width:36px;
    height:29px;
    padding-right:12px;
    border-right:solid 1px #DFE1E5;
}

#close {
    width:24px;
    height:24px;
}

.box-icon2 {
    display:flex;
    align-items:center;
    gap:10px;
    width:68.49px;
    height:24px;
    margin-left:5px;
}

#mic {
    width:24px;
    height:24px;
}

#lupa {
    width:20px;
    height:20px;
}

.top-end {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:10px 8px;
    margin-left:410px;
}

#conf {
    width:24px;
    height:24px;
}

#menu {
    width:24px;
    height:24px;
}

#bt-top {
    width:93px;
    height:34px;
    border-radius:4px;
    background-color:#1a73e8;
    color:#fff;
    outline:none;
    box-shadow:none;
    border-color:transparent;
}

.option {
    width:1260px;
    height:56px;
    margin-top:11px;
}

.box-option {
    display:flex;
    flex-direction:row;
    width:544px;
    height:52px;
    gap:1px;
}

#box-all {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:67px;
    height:52px;
    padding-right:12px;
    padding-left:10px;
}

#box-all img {
    width:24px;
    height:24px;
}

#box-all p {
    width:16px;
    height:16px;
    color:#1a73e8;
}

#box-new {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:87px;
    height:52px;
    padding-right:12px;
    padding-left:5px;
}

#box-new img {
    width:24px;
    height:24px;
}

#box-new p {
    width:16px;
    height:16px;
    color:#5F6368;
}

#box-img {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:115px;
    height:52px;
    padding-right:12px;
    padding-left:10px;
}

#box-img img {
    width:24px;
    height:24px;
}

#box-img p {
    width:16px;
    height:16px;
    color:#5F6368;
}

#box-vid {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:97px;
    height:52px;
    padding-left:10px;
    padding-right:12px;
}

#box-vid img {
    width:24px;
    height:24px;
}

#box-vid p {
    width:16px;
    height:16px;
    color:#5F6368;
}

#box-shopp {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:121px;
    height:52px;
    padding-left:10px;
    padding-right:12px;
}

#box-shopp img {
    width:24px;
    height:24px;
}

#box-shopp p {
    width:16px;
    height:16px;
    color:#5F6368;
}

#box-more {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:5px;
    width:83px;
    height:52px;
    padding-right:12px;
}

#box-more img {
    width:24px;
    height:24px;
}

#box-more p {
    width:16px;
    height:16px;
    color:#5F6368;
}

.a-hover:hover {
    border-bottom:solid 5px #1a73e8;
}

.area-result {
    width:652px;
    height:1293px;
}

.area-quanti {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:236px;
    height:43px;
}

.area-quanti p {
    font-size:14px;
    color:#70757A;
}

.box-result {
    width:600px;
    height:98px;
}

.url-data {
    display:flex;
    width:600px;
    height:18px;
    margin-bottom:5px;
}

.url-data .url {
    font-size:14px;
    text-decoration:none;
    color:#202124;
}

.url-data .data {
    font-size:14px;
    color:#5F6368;
}

.box-cont {
    width:600px;
    height:60px;
    margin-bottom:30px;
}

.txt-result {
    font-size:20px;
    font-weight:lighter;
    color:#1A0DAB;
    margin-bottom:5px;
}

.txt-cont {
    font-size:14px;
    color:#4D5156;
}